* {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.container {
    margin: 0 auto;
    /* faz a quebra da sequencia para deixar responsivo */
    flex-wrap: wrap;
    text-align: center;

    margin: 30px auto 0;
    /* ajuste o valor da margem superior para mostrar o título completo */
    max-width: 800px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
}

.card {
    border-radius: 10px;
    box-shadow: 4px 4px 15px #bebebe,
        -4px -4px 15px #ffffff;
    padding: 10px;
    position: relative;
    width: 250px;
    margin-right: 25px;
    display: inline-block;
}

.card input[type=checkbox] {
    width: 15px;
    height: 15px;

    position: absolute;
    top: 15px;
    left: 15px;
}

label {
    padding-left: 10px;
    font-weight: bold;
    font-size: 24px;
}

.info-card {
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formasLoginCadastro {
    width: 390px;
    margin: 0 auto;

}

.acesso {
    display: flex;
    /* alinhar verticalmente e centralizar */
    justify-content: center;
    /* usada para centralizar horizontalmente */
    align-items: center;
    /* centralizar verticalmente */
    margin: 20px 0;
}

.acesso-titulo {
    font-weight: bold;
    margin: 0 15px;
}

hr {
    width: 100%;
    /*  usada para que as linhas ocupem todo o espaço disponível restante dentro do container  */
    height: 1px;
    background-color: #dadada;
    border: none;
}

.imagens {
    text-align: center;
}

img {
    width: 33px;
    margin: 0 10px;
}

/* Pros inputs continuarem no centro msm em telas grandes */
.inputs {
    text-align: center;
}

input {
    box-sizing: border-box;
    /* Impedi q os elementos filhos ultapassem o tamanho do pai */

    border-radius: 5px;
    margin: 5px 0;
    padding: 10px 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px solid #dadada;
    transition: .2s;
}

input:focus {
    letter-spacing: 1px;
    /* dar um espaço entre as letras de 2px */
    border-color: red;
    outline: none;
    /* quando for clicado muda a cor da borda para azul claro */
}

.criarConta {
    margin: 15px 0;
    text-align: center;

}

/* butao de criar conta */
.criar {
    box-sizing: border-box;

    width: 100%;
    border-radius: 30px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 5px;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
}

.info {
    text-align: center;
    font-size: 0.75em;
    padding: 0 50px;
    width: 280px;
    margin: 0 auto;
}

.rodape {
    color: rgb(58, 58, 212);
    font-weight: bold;
    cursor: pointer;
}

/* ================ Responsividades ================ */

/* Isso fará com que cada card ocupe 100% da largura da tela em telas menores do que 600px e remova a margem direita. */
@media screen and (max-width: 600px) {
    .card {
        flex-basis: 100%;
        margin-right: 0;
    }
}

/* cada card tenha uma largura máxima de 300px em telas maiores do que 768px */
@media screen and (min-width: 768px) {
    .card {
        max-width: 300px;
    }
}

/* largura dos inputs seja reduzida para 80% da largura da tela em telas menores do que 600px */
@media screen and (max-width: 600px) {
    .inputs input, .criar {
        width: 80%;
    }
}
